<div class="container">
  <div class="row" id="contact_header">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact me</h1>
    <p class="lead">For any questions regarding the assessments available or to recommend an assessment be added, please fill out the form below.</p>
  </div>
</div>
  </div>
  <div class="row" id="contact_section">
    <div class="col-lg"></div>
    <div class="col-lg">
      <form method="POST" action=" http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">

        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name = "first_name" placeholder="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" name = "last_name" placeholder="Last name">
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" name="email" value="" placeholder="Email address">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <textarea class="form-control overlow-auto" rows="3" name="recommendation" placeholder="This is a scroll box when a user enters more text than the area is designed to hold."></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" value = "submitted" name="button">Submit</button>
        </div>


      </form>
    </div>
    <div class="col-lg"></div>
  </div>
</div>
