<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="styles/faam_style.css">
    <title>FAAM</title>
</head>
<body>
    <div class = "container" id = "header">
        <div class = "row" id = "title">
            <h1>The Foot and Ankle Measure (FAAM)</h1>
        </div>
        <div class="row" id="instructions">
          <h3>Instructions</h3>
          <p>Please Answer every question with one response that most closely describes your condition within
            the <b>past week</b>. If the activity in question is limited by something other than your foot or
            ankle mark “Not Applicable” (N/A).
          </p>
          <p>
            You can find more information about the FAAM <a href="https://www.sralab.org/rehabilitation-measures/foot-and-ankle-ability-measures" target="_blank">here</a>.
          </p>
        </div>

        <div class="row" id="adl_header"><h2>Activities of Daily Living</h2></div>


        <div class = "row question">
          <h4>1. Standing</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="standing" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="standing" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="standing" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="standing" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="standing" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="standing" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>2. Walking on even ground</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>3. Walking on even ground without shoes</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even_no_shoes" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even_no_shoes" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even_no_shoes" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even_no_shoes" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even_no_shoes" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_even_no_shoes" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>4. Walking up hills</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_hill" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_hill" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_hill" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_hill" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_hill" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_hill" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>5. Walking down hills</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_hill" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_hill" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_hill" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_hill" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_hill" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_hill" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>6. Going up stairs</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_stairs" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_stairs" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_stairs" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_stairs" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_stairs" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_stairs" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>7. Going down stairs</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_stairs" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_stairs" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_stairs" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_stairs" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_stairs" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="down_stairs" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>8. Walking on uneven ground</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="uneven_ground" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="uneven_ground" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="uneven_ground" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="uneven_ground" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="uneven_ground" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="uneven_ground" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>9. Stepping up and down curbs</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="curbs" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="curbs" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="curbs" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="curbs" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="curbs" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="curbs" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>10. Squatting</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="squatting" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="squatting" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="squatting" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="squatting" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="squatting" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="squatting" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>11. Coming up on your toes</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_on_toes" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_on_toes" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_on_toes" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_on_toes" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_on_toes" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="up_on_toes" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>12. Walking initially</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_initially" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_initially" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_initially" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_initially" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_initially" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_initially" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>13. Walking 5 minutes or less</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_five_min" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_five_min" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_five_min" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_five_min" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_five_min" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_five_min" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>14. Walking about 10 minutes</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_ten_min" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_ten_min" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_ten_min" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_ten_min" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_ten_min" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_ten_min" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>15. Walking 15 minutes or more</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_15_min" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_15_min" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_15_min" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_15_min" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_15_min" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="walking_15_min" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>16. Home responsibilities</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="home_responsibilities" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="home_responsibilities" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="home_responsibilities" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="home_responsibilities" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="home_responsibilities" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="home_responsibilities" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>17. Activities of daily living</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="adls" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="adls" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="adls" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="adls" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="adls" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="adls" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>18. Personal care</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="personal_care" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="personal_care" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="personal_care" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="personal_care" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="personal_care" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="personal_care" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>19. Light to moderate work (standing, walking)</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="light_work" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="light_work" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="light_work" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="light_work" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="light_work" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="light_work" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>20. Heavy work (pushing, pulling, climbing, carrying)</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="heavy_work" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="heavy_work" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="heavy_work" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="heavy_work" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="heavy_work" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="heavy_work" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

        <div class = "row question">
          <h4>21. Recreational Activities</h4>
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-outline-secondary">
              <input type="radio" name="recreational_activities" autocomplete="off" value = "4"/>None
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="recreational_activities" autocomplete="off" value = "3"/>Slight
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="recreational_activities" autocomplete="off" value = "2"/>Moderate
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="recreational_activities" autocomplete="off" value = "1"/>Extreme
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="recreational_activities" autocomplete="off" value = "0"/>Unable
            </label>

            <label class="btn btn-outline-secondary">
              <input type="radio" name="recreational_activities" autocomplete="off" value = "N/A"/>N/A
            </label>
          </div>
        </div>

    </div>


    <div class = "container" id = "footer">
        <div class= "row">
            <div class="col-lg">
                <button id = "calculate" class = "btn btn-primary" >Get Score</button>
                <div class="">
                  <span id= "result">Your result</span>
                </div>

            </div>
            <div class="col-lg">
                <form method="GET" action="paper_copies/FAAM.pdf" target="_blank">
                    <button class = "btn btn-primary" type="submit">Get Paper Copy!</button>
                </form>
            </div>
        </div>
    </div>



    <script src="scripts/faam_script.js"></script>
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
