<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="styles/faam_style.css">
    <title>FAAM</title>
</head>
<body>
    <div class = "container" id = "header">
        <div class = "row" id = "title">
            <h1>The Foot and Ankle Measure (FAAM)</h1>
        </div>
    </div>

    <div class = "container" id = "body">
        <div class="row" id="adl_header"><h3>Activities of Daily Living</h3></div>
        <div class="row">
            <div class = "col-lg-5 description"><h3>Activity</h3></div>
            <div class = "col-lg-7 description"><h3>Level of Difficulty</h3></div>
        </div>
        <div class = "row question">
            <div class = "col-lg-4 activity">Standing</div>
            <div class="col-lg answer"><input type="radio" name="standing" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="standing" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="standing" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="standing" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="standing" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="standing" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking on even ground</div>
            <div class="col-lg answer"><input type="radio" name="walking_even" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="walking_even" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="walking_even" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="walking_even" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="walking_even" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="walking_even" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking on even ground without shoes</div>
            <div class="col-lg answer"><input type="radio" name="walking_even_no_shoes" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="walking_even_no_shoes" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="walking_even_no_shoes" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="walking_even_no_shoes" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="walking_even_no_shoes" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="walking_even_no_shoes" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking up hills</div>
            <div class="col-lg answer"><input type="radio" name="up_hill" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="up_hill" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="up_hill" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="up_hill" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="up_hill" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="up_hill" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking down hills</div>
            <div class="col-lg answer"><input type="radio" name="down_hill" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="down_hill" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="down_hill" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="down_hill" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="down_hill" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="down_hill" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Going up stairs</div>
            <div class="col-lg answer"><input type="radio" name="up_stairs" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="up_stairs" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="up_stairs" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="up_stairs" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="up_stairs" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="up_stairs" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Going down stairs</div>
            <div class="col-lg answer"><input type="radio" name="down_stairs" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="down_stairs" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="down_stairs" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="down_stairs" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="down_stairs" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="down_stairs" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking on uneven ground</div>
            <div class="col-lg answer"><input type="radio" name="uneven_ground" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="uneven_ground" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="uneven_ground" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="uneven_ground" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="uneven_ground" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="uneven_ground" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Stepping up and down curbs</div>
            <div class="col-lg answer"><input type="radio" name="curbs" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="curbs" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="curbs" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="curbs" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="curbs" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="curbs" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Squatting</div>
            <div class="col-lg answer"><input type="radio" name="squatting" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="squatting" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="squatting" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="squatting" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="squatting" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="squatting" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Coming up on your toes</div>
            <div class="col-lg answer"><input type="radio" name="up_on_toes" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="up_on_toes" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="up_on_toes" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="up_on_toes" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="up_on_toes" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="up_on_toes" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking initially</div>
            <div class="col-lg answer"><input type="radio" name="walking_initially" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="walking_initially" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="walking_initially" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="walking_initially" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="walking_initially" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="walking_initially" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking 5 minutes or less</div>
            <div class="col-lg answer"><input type="radio" name="walking_five_min" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="walking_five_min" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="walking_five_min" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="walking_five_min" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="walking_five_min" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="walking_five_min" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking about 10 minutes</div>
            <div class="col-lg answer"><input type="radio" name="walking_ten_min" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="walking_ten_min" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="walking_ten_min" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="walking_ten_min" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="walking_ten_min" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="walking_ten_min" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Walking 15 minutes or more</div>
            <div class="col-lg answer"><input type="radio" name="walking_15_min" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="walking_15_min" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="walking_15_min" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="walking_15_min" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="walking_15_min" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="walking_15_min" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Home responsibilities</div>
            <div class="col-lg answer"><input type="radio" name="home_responsibilities" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="home_responsibilities" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="home_responsibilities" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="home_responsibilities" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="home_responsibilities" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="home_responsibilities" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Activities of daily living</div>
            <div class="col-lg answer"><input type="radio" name="adls" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="adls" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="adls" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="adls" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="adls" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="adls" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Personal Care</div>
            <div class="col-lg answer"><input type="radio" name="personal_care" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="personal_care" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="personal_care" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="personal_care" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="personal_care" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="personal_care" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Light to moderate work (standing, walking)</div>
            <div class="col-lg answer"><input type="radio" name="light_work" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="light_work" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="light_work" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="light_work" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="light_work" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="light_work" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Heavy work (pushing, pulling, climbing, carrying)</div>
            <div class="col-lg answer"><input type="radio" name="heavy_work" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="heavy_work" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="heavy_work" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="heavy_work" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="heavy_work" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="heavy_work" id="" value = "N/A">N/A</div>
        </div>

        <div class = "row question">
            <div class = "col-lg-4 activity">Recreational Activities</div>
            <div class="col-lg answer"><input type="radio" name="recreational_activities" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="recreational_activities" id="" value = "3">Slight</div>
            <div class="col-lg answer"><input type="radio" name="recreational_activities" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="recreational_activities" id="" value = "1">Extreme</div>
            <div class="col-lg answer"><input type="radio" name="recreational_activities" id="" value = "0">Unable</div>
            <div class="col-lg answer"><input type="radio" name="recreational_activities" id="" value = "N/A">N/A</div>
        </div>

    </div>


    <div class = "container" id = "footer">
        <div class= "row">
            <div class="col-lg">
                <button id = "calculate" class = "btn btn-primary" >Get Score</button><span id= "result"></span>
            </div>
            <div class="col-lg">
                <form method="GET" action="paper_copies/FAAM.pdf" target="_blank">
                    <button class = "btn btn-primary" type="submit">Get Paper Copy!</button>
                </form>
            </div>
            <div class="col-lg">
                <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
                    <button type="submit" class="btn btn-primary">Email my results!</button>
                    <input type="email" name="" id="" placeholder="your@email.com">
                </form>
            </div>
        </div>
    </div>



    <script src="scripts/faam_script.js"></script>
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
