<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="styles/UWRI_style.css">
    <title>UWRI</title>
</head>
<body>
    <div class = "container" id = "header">
        <div class = "row" id = "title">
            <h1>University of Wisconsin Running Injury and Recovery Index (UWRI)</h1>
        </div>
    </div>

    <div class = "container" id = "body">
        <div class="row" id="instructions"><h3>Instructions</h3></div>
        <div class="row">
            <div class = "col-lg instructions"><p>Consider your current running injury over the <b>past 7 days</b> when answering each question</p></div>

        </div>
    </div>

    <div class = "container" id = "body">

        <div class="row question">
            <h4>1. How does your running injury impact your ablity to perform daily activities?</h4>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-outline-secondary">
                <input type="radio" name="adls" autocomplete="off" value = "4"/>It doesn't
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="adls" autocomplete="off" value = "3"/>Slightly
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="adls" autocomplete="off" value = "2"/>Moderately
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="adls" autocomplete="off" value = "1"/>Significantly
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="adls" autocomplete="off" value = "0"/>Unable to perform
              </label>
            </div>

        </div>

        <div class = "row question">
            <h4>2. How frustrated are you by your running injury?</h4>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-outline-secondary">
                <input type="radio" name="frustrated" autocomplete="off" value = "4"/>I'm not
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="frustrated" autocomplete="off" value = "3"/>Mildly
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="frustrated" autocomplete="off" value = "2"/>Moderately
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="frustrated" autocomplete="off" value = "1"/>Significantly
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="frustrated" autocomplete="off" value = "0"/>Extremely
              </label>

            </div>
        </div>


        <div class = "row question">
            <h4>3. How much recovery have you made from your running injury?</h4>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-outline-secondary">
                <input type="radio" name="recovery" autocomplete="off" value = "4"/>Complete
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="recovery" autocomplete="off" value = "3"/>Significant
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="recovery" autocomplete="off" value = "2"/>Moderate
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="recovery" autocomplete="off" value = "1"/>Minimal
              </label>

              <label class="btn btn-outline-secondary">
                <input type="radio" name="recovery" autocomplete="off" value = "0"/>None
              </label>

            </div>

        </div>

        <div class = "row question">
            <h4>4. How much pain do you experience while running?</h4>
            <div class = "btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="while_running" autocomplete="off" value = "4"/>None
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="while_running" autocomplete="off" value = "3"/>Minimal
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="while_running" autocomplete="off" value = "2"/>Moderate
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="while_running" autocomplete="off" value = "1"/>Significant
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="while_running" autocomplete="off" value = "0"/>Unable to run
                </label>
              </div>

        </div>

        <div class = "row question">
            <h4>5. How much pain do you experience during the 24 hours following a run?</h4>
            <div class = "btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="after_running" autocomplete="off" value = "4"/>None
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="after_running" autocomplete="off" value = "3"/>Minimal
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="after_running" autocomplete="off" value = "2"/>Moderate
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="after_running" autocomplete="off" value = "1"/>Significant
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="after_running" autocomplete="off" value = "0"/>Unable to run
                </label>
              </div>

        </div>

        <div class = "row question">
            <h4>6. How has your weekly mileage/time changed due to your injury?</h4>
            <div class = "btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="mileage" autocomplete="off" value = "4"/>It hasn't
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="mileage" autocomplete="off" value = "3"/>Minimally reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="mileage" autocomplete="off" value = "2"/>Moderately reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="mileage" autocomplete="off" value = "1"/>Significantly reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="mileage" autocomplete="off" value = "0"/>Unable to run
                </label>
              </div>

        </div>

        <div class = "row question">
            <h4>7. How has the distance of your longest weekly run changed due to injury?</h4>
            <div class = "btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="long_run" autocomplete="off" value = "4"/>It hasn't
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="long_run" autocomplete="off" value = "3"/>Minimally reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="long_run" autocomplete="off" value = "2"/>Moderately reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="long_run" autocomplete="off" value = "1"/>Significantly reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="long_run" autocomplete="off" value = "0"/>Unable to run
                </label>
              </div>

        </div>

        <div class = "row question">
            <h4>8. How has your running pace or speed changed as a result of your injury?</h4>
            <div class = "btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="pace" autocomplete="off" value = "4"/>It hasn't
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="pace" autocomplete="off" value = "3"/>Minimally reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="pace" autocomplete="off" value = "2"/>Moderately reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="pace" autocomplete="off" value = "1"/>Significantly reduced
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="pace" autocomplete="off" value = "0"/>Unable to run
                </label>
              </div>

        </div>

        <div class = "row question">
            <h4>9. How does your injury affect your confidence to increase the duration/intensity of your running?</h4>
            <div class = "btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="confidence" autocomplete="off" value = "4"/>I'm confident
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="confidence" autocomplete="off" value = "3"/>If I increase, I might be fine
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="confidence" autocomplete="off" value = "2"/>Neutral
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="confidence" autocomplete="off" value = "1"/>If I increase I might get worse
                </label>

                <label class="btn btn-outline-secondary">
                  <input type="radio" name="confidence" autocomplete="off" value = "0"/>I cannot increase my running
                </label>
              </div>

        </div>

    </div>


    <div class = "container" id = "footer">
        <div class= "row">
            <div class="col-lg">
                <button id = "calculate" class = "btn btn-primary" >Get Score</button>
                <div>
                    <p id= "result">Your score</p>
                </div>
            </div>
            <div class="col-lg">
              <button id = "download_btn" class = "btn btn-primary" type="submit">Get Paper Copy!</button>
            </div>
        </div>
    </div>

    <script src="scripts/UWRI_script.js"></script>
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
