<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="styles/UWRI_style.css">
    <title>UWRI</title>
</head>
<body>
    <div class = "container" id = "header">
        <div class = "row" id = "title">
            <h1>University of Wisconsin Running Injury and Recovery Index (UWRI)</h1>
        </div>
    </div>

    <div class = "container" id = "body">
        <div class="row" id="instructions"><h3>Instructions</h3></div>
        <div class="row">
            <div class = "col-lg instructions"><p>Consider your current running injury over the <b>past 7 days</b> when answering each question</p></div>

        </div>

    <div class = "container" id = "body">

        <div class="row question">
            <div class = "col-lg activity">1. How does your running injury impact your ablity to perform daily activities?</div>
        </div>

        <div class="row">
            <div class = "col-lg answer"><input type="radio" id="" name="adls" value = "4"/>It doesn't</div>
            <div class = "col-lg answer"><input type="radio" id="" name="adls" value = "3"/>Slightly</div>
            <div class = "col-lg answer"><input type="radio" id="" name="adls" value = "2"/>Moderately</div>
            <div class = "col-lg answer"><input type="radio" id="" name="adls" value = "1"/>Significantly</div>
            <div class = "col-lg answer"><input type="radio" id="" name="adls" value = "0"/>Unable to perform</div>
        </div>


        <div class = "row question">
            <div class = "col-lg activity">2. How frustrated are you by your running injury?</div>
        </div>

        <div class = "row">
            <div class="col-lg answer"><input type="radio" name="frustrated" id="" value = "4">I'm not</div>
            <div class="col-lg answer"><input type="radio" name="frustrated" id="" value = "3">Mildly</div>
            <div class="col-lg answer"><input type="radio" name="frustrated" id="" value = "2">Moderately</div>
            <div class="col-lg answer"><input type="radio" name="frustrated" id="" value = "1">Significantly</div>
            <div class="col-lg answer"><input type="radio" name="frustrated" id="" value = "0">Extremely</div>
        </div>

        <div class = "row question">
            <div class = "col-lg activity">3. How much recovery have you made from your running injury?</div>
        </div>

        <div class = "row">
            <div class="col-lg answer"><input type="radio" name="recovery" id="" value = "4">Complete</div>
            <div class="col-lg answer"><input type="radio" name="recovery" id="" value = "3">Significant</div>
            <div class="col-lg answer"><input type="radio" name="recovery" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="recovery" id="" value = "1">Minimal</div>
            <div class="col-lg answer"><input type="radio" name="recovery" id="" value = "0">None</div>
        </div>

        <div class = "row question">
            <div class = "col-lg activity">4. How much pain do you experience while running?</div>
        </div>

        <div class = "row">
            <div class="col-lg answer"><input type="radio" name="while_running" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="while_running" id="" value = "3">Minimal</div>
            <div class="col-lg answer"><input type="radio" name="while_running" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="while_running" id="" value = "1">Significant</div>
            <div class="col-lg answer"><input type="radio" name="while_running" id="" value = "0">Unable to run</div>
        </div>

        <div class = "row question">
            <div class = "col-lg activity">5. How much pain do you experience during the 24 hours following a run?</div>
        </div>

        <div class = "row">
            <div class="col-lg answer"><input type="radio" name="after_running" id="" value = "4">None</div>
            <div class="col-lg answer"><input type="radio" name="after_running" id="" value = "3">Minimal</div>
            <div class="col-lg answer"><input type="radio" name="after_running" id="" value = "2">Moderate</div>
            <div class="col-lg answer"><input type="radio" name="after_running" id="" value = "1">Significant</div>
            <div class="col-lg answer"><input type="radio" name="after_running" id="" value = "0">Unable to run</div>
        </div>

        <div class = "row question">
            <div class = "col-lg activity">6. How has your weekly mileage/time changed due to your injury?</div>
        </div>

        <div class = "row">
            <div class="col-lg answer"><input type="radio" name="mileage" id="" value = "4">It hasn't</div>
            <div class="col-lg answer"><input type="radio" name="mileage" id="" value = "3">Minimally reduced</div>
            <div class="col-lg answer"><input type="radio" name="mileage" id="" value = "2">Moderately reduced</div>
            <div class="col-lg answer"><input type="radio" name="mileage" id="" value = "1">Significantly reduced</div>
            <div class="col-lg answer"><input type="radio" name="mileage" id="" value = "0">Unable to run</div>
        </div>

        <div class = "row question">
            <div class = "col-lg activity">7. How has the distance of your longest weekly run changed due to injury?</div>
        </div>

        <div class = "row">
            <div class="col-lg answer"><input type="radio" name="long_run" id="" value = "4">It hasn't</div>
            <div class="col-lg answer"><input type="radio" name="long_run" id="" value = "3">Minimally reduced</div>
            <div class="col-lg answer"><input type="radio" name="long_run" id="" value = "2">Moderately reduced</div>
            <div class="col-lg answer"><input type="radio" name="long_run" id="" value = "1">Significantly reduced</div>
            <div class="col-lg answer"><input type="radio" name="long_run" id="" value = "0">Unable to run</div>
        </div>

        <div class = "row question">
            <div class = "col-lg activity">8. How has your running pace or speed changed as a result of your injury?</div>
        </div>

        <div class = "row">
            <div class="col-lg answer"><input type="radio" name="pace" id="" value = "4">It hasn't</div>
            <div class="col-lg answer"><input type="radio" name="pace" id="" value = "3">Minimally reduced</div>
            <div class="col-lg answer"><input type="radio" name="pace" id="" value = "2">Moderately reduced</div>
            <div class="col-lg answer"><input type="radio" name="pace" id="" value = "1">Significantly reduced</div>
            <div class="col-lg answer"><input type="radio" name="pace" id="" value = "0">Unable to run</div>
        </div>

        <div class = "row question">
            <div class = "col-lg activity">9. How does your injury affect your confidence to increase the duration/intensity of your running?</div>
        </div>

        <div class = "row">
            <div class="col-lg answer"><input type="radio" name="confidence" id="" value = "4">I'm confident</div>
            <div class="col-lg answer"><input type="radio" name="confidence" id="" value = "3">If I increase, I might be fine</div>
            <div class="col-lg answer"><input type="radio" name="confidence" id="" value = "2">Neutral</div>
            <div class="col-lg answer"><input type="radio" name="confidence" id="" value = "1">If I increase I might get worse</div>
            <div class="col-lg answer"><input type="radio" name="confidence" id="" value = "0">I cannot increase my running</div>
        </div>

    </div>


    <div class = "container" id = "footer">
        <div class= "row">
            <div class="col-lg">
                <button id = "calculate" class = "btn btn-primary" >Get Score</button>
                <div>
                    <p id= "result">Your score</p>
                </div>
            </div>
            <div class="col-lg">
                <form method="GET" action="paper_copies/UWRI.pdf" target="_blank">
                    <button class = "btn btn-primary" type="submit">Get Paper Copy!</button>
                </form>
            </div>
            <div class="col-lg">
                <form id = "email_form" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">

                    <button type="submit" name="email_button" class="btn btn-primary">Email my results!</button>
                    <br>
                    <input type="text" name="" id="email_input" placeholder="Email Address">

                </form>
            </div>
        </div>
    </div>

    <script src="scripts/UWRI_script.js"></script>
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
