.description {
    text-align: center;
}

.question {
    margin-top: 30px;
}

#title {
    text-align: center;
}

.btn-group label {
  font-weight: bold;
}

.activity, .answer {
  font-size: 1.25em;
}

#adl_header {
    text-align: center;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

[type="radio"] {
  display: None;
}
