.carousel .carousel-item {
  max-height: 600px;
  width: 100%;
}

a {
  color: white;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}

h1 {
  margin: 0 auto;
}

.middle-header {
  text-align: center;
}

/* .carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
} */
