.carousel .carousel-item {
  max-height: 600px;
  width: 100%;
}

a {
  color: white;
}

#page_header {
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}

#testimonials {
  text-align: center;


}

/* #myCarousel {
  vertical-align: center;
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

h1, h3 {
  margin: 0 auto;
}

.indicator {
  color: black;
}

.middle-header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* .carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
} */
