.description {
    text-align: center;
}

.question .activity {
    background-color: darkgrey;
}

#title {
    text-align: center;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

[type="radio"] {
  display: None;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.header p {
  text-align: left;
}


#result {
    min-height: 60px;
}
