.description {
    text-align: center;
}

.question .activity {
    background-color: darkgrey;
}

#title {
    text-align: center;
}

/* .answer {
    text-align: center;
} */

/* [type='radio'] {
    display: none;
} */

/* #adl_header {
    background-color: darkgrey;
    text-align: center;
} */

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header {
    margin-top: 20px;
}

/* #scoring_link {
    align: bottom;
} */

#result {
    min-height: 60px;
}
